<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if !alert.nil? %>
      <div id="error_explanation">
        <ul>
          <li><%= alert %></li>
        </ul>
      </div>
      <% end %>
      <div class="form-div">
        <h4>Sign in</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス",:class => "email-txt" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off" ,:placeholder => "パスワード" ,:class => "password-txt" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign in" , class: "btn blue-btn"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>