<div class="container">
 <div class="row">
   <div class="col-md-3">
      <span class="header_logo_text">Big Apple Bloger</span>
     </div>
     <div class="row">
       <div class="col-md-12">
         <div class="nav user-nav">
           <ul>
             <% if user_signed_in? %>
               <li>Welcome!:　<%= current_user.name%> </li>
               <li><%= link_to '　Home',blogs_path  %></li>
               <li><%= link_to '　My Page',user_path(current_user.id) %></li>
               <li><%= link_to '　Sign out',destroy_user_session_path, method: :delete %></li>
             <% else %>
               <li><%= link_to '　Home',blogs_path %></li>
               <li><%= link_to '　Sign in',new_user_session_path %></li>
               <li><%= link_to '　Sign up',new_user_registration_path %></li>
             <% end %>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>